*.opensdf
*.sdf
.vs
.idea
*.VC.db
*.opendb
/Bin/CMakeBuild
/Bin/LogicServer/bin
/Bin/CrossServer/bin
/Bin/Connector/bin
/Bin/AuthServer/bin
/Bin/Library/liblogic_game.a
/Bin/Library/liblogic_record.a
/CMakeSettings.json
/cmake-build-local
/Bin/LogicServer/config/sql_global_info.xml
/cmake-build-*
/Bin/Library/libcommon.a
/Bin/Library/libcommon_mt.a
/Bin/Library/liblogic_config.a
/Bin/Library/liblogic_game.so
/Bin/Library/liblogic_link.a
/Bin/Library/libutil.a
/Bin/Library/libzookeeper.a
/Bin/Tools/sql_code_generator
/Bin/Library/libpushover.a
/Bin/Tools/sql_alchemy
/Bin/LogicServer/logic.ver
/Bin/Library
/Bin/Tools/deploy
/Publish
/Lib
/touhou
/Bin/QueueServer/bin
